# Environment variables and secrets
.env
*.env

# Database files
*.db
*.sqlite*
db.sqlite3
*test.db

# Test files and directories
*test_files/
*data/

# Virtual environments
venv/
.venv/

# File storage directories
uploaded_files/

# Python artifacts
__pycache__/
*$py.class
.pytest_cache/
.Python
build/
lib/
lib64/
parts/
var/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db
